*.[oa]
*~
*.kdev4
*.kate-swp
nohup.out

doc/
!doc/README.md
res/
!res/README.md
src/Adyton
trc/
!trc/README.md
!trc/check_trc.sh
!trc/Debugging.txt
!trc/Debugging-presence.txt

profile*.txt
experiment.sh
